//- banner.jade
div.row.service-container
  div.col-lg-12.service-header
    div.row.top-nav.navbar-fixed-top
      div.container
        a.top-nav--logo-link(href="")
          h3.heading.left The Collegiate Club 
            span.top-nav--logo-wdc
        nav.top-nav--nav
          li.top-nav--nav-item
            a(href="") Welcome
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/") 
          li.top-nav--nav-item
            a(href="http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/gallery.html") 
          li.top-nav--nav-item
            a(href="https://developer.ibm.com/watson/") 
    div.row.header
      div.container
        div.avatar.img-container.col-lg-2.col-md-2.col-sm-2.hidden-xs
          img.service-icon(src='/images/app.png')
        div.col-lg-10.col-md-10.col-sm-10.col-xs-12.dialog-description
          h1(style="font-size:75px;").service-title The Collegiate Club
          p An automated college essay assistant based on an algorithm that makes use of IBM Watson's Tone Analyzer's word choice and tone.
//          div.resource
//            img.link-icon(src='/images/link.svg')
//            strong Resources:
//          div.resource-item-container
//            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/apis/tone-analyzer-apis.html') API Overview
//            a.resource-item(href='http://www.ibm.com/smarterplanet/us/en/ibmwatson/developercloud/doc/tone-analyzer/') Documentation
//            a.resource-item(href='https://github.com/watson-developer-cloud/tone-analyzer-nodejs') Fork on Github
//            a.resource-item(href='https://bluemix.net/deploy?repository=https://github.com/watson-developer-cloud/tone-analyzer-nodejs.git') Fork and Deploy on Bluemix
