{
  "ServiceId": "com.ibm.cloudoe.orion.client.deploy",
  "Params": {
    "Target": {
      "Url": "https://api.ng.bluemix.net",
      "Org": "akilesh@berkeley.edu",
      "Space": "dev"
    },
    "Name": "tone-analyzer-nodejs-ak123-09",
    "Instrumentation": {}
  },
  "Path": "",
  "Type": "Cloud Foundry"
}